<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Ticket-parser</title>
	<meta name="description" content="main page">
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="shortcut icon" href="images/favicon.png" type="image/png">
</head>
<body>
	<% // include partials/header %>  
	<h1>Welcome</h1>
	<p>This is main page of site.</p>

	
</body>
</html>