<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Ticker-parser</title>
	<meta name="description" content="Main page">
	<link type="text/css" href="stylesheets/index.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="shortcut icon" href="images/favicon.png" type="image/png">
</head>
<body>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h1 class='display-1'>Welcome</h1>
		</div>
		<div class="col-md-4"></div>
	</div>
</body>
</html>