<link type="text/css" href="stylesheets/header.css" rel="stylesheet"/>

<div class="navbar">
  <span class='hypers'>
  <a href='/'>Main Page</a>
  <a href='/catalogue'>Catalogue</a>
  </span>
  </div>